/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom style */

body, html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: rgb(252, 247, 233);
}

.nav {
	margin-top: 1em;
	background: rgb(190, 112, 253);
	
}

ul {
	margin: none;
	text-align: center;
}

li:first-child {
	margin-left: 0;
}

li {
	padding: 0.5em 1em;
	list-style: none;
	display: inline-block;
	letter-spacing: 0.3em;
	/* margin-left: 1em; */
	font-size: 1.1em;
}

.content {
	margin: 2em 20vw;
	position: relative;

	margin: 0 auto;
	max-width: 500px;
	font-size: 20px;
	line-height: 2;
	position: relative;
}

p {
	margin-bottom: 2em;
}

p:last-child {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

.nav ul li:hover {
	background: rgb(223, 132, 223); 
}

.link {
	background: rgba(228, 209, 228, 0.5);
	border-radius: 1em;
	padding: 0 0.3em;
}


.highlight {
	left: 0;
	top: 0;
	display: block;
	background: rgb(223, 132, 223);
	border-radius: 1em;
	position: absolute;
	transition: all 0.3s;
	z-index: -1;
}

/* .highlight {
	transition: all 0.2s;
	border-bottom: 2px solid white;
	position: absolute;
	top: 0;
	background: white;
	left: 0;
	z-index: -1;
	border-radius: 20px;
	display: block;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
  } */