/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom style */

body,html {
	font-family: Arial, Helvetica, sans-serif;
}



.title {
	margin: 1em 0;
	height: 10em;
	letter-spacing: 1em;
	background: rgba(65, 7, 224, 0.302);
	overflow: hidden;
}

.title img {
	position: relative;;
	top: -20em;
	right: 15em;
	clip-path: inset(19em 0em 0em 2em);
	z-index: -1;
}

.title h1 {
	padding-top: 1.2em;
	text-align: center;
	font-size: 3em;
	color: rgb(255,255,255);
}

.nav {
	background: rgb(204, 68, 44);
}

a {
	text-decoration: none;
	color: rgb(0,0,0);
}

.nav ul {
	text-align: center;
}

.nav ul li{
	display: inline-block;
	padding: 0.2em 2em;
	font-size: 1.2em;
	letter-spacing: 0.09em;
}

.nav ul li:hover{
	background: rgb(252, 100, 73);
}

.background {

}

.content {
	width: 50%;
	margin: 0 auto;
	margin: 1em auto;
	background: rgba(255, 186, 140, 0.3);
}

.content p {
	padding: 1em;
	letter-spacing: 0.09em;
	text-align: justify;
	line-height: 1.3em;
}

.copyrights {
	margin-bottom: 1em;
	background: rgb(170, 52, 32);
}

.copyrights div {
	margin: 0 auto;
	width: 60%;
}

.copyrights p{
	color: rgb(255,255,255);
	padding: 0.2em 1em;
	/* font-size: 0.8em; */
}

.copyrights p a {
	color: rgb(255,255,255);
}

.copyrights p:hover a{
	color: rgb(20, 2, 71);
	/* border-bottom: rgb(0,0,0) double 0.1em; */
	transition: 0.1s;
}